<div class="container">
  <div class="left-element">
    <div class="style-first-content">
      <div class="detailed-first-content">CRM</div>
      <button
        matSuffix
        mat-icon-button
        class="icon-first-content"
        aria-label="Clear"
        style="padding-bottom: 20px"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="style-second-content border-bottom-left-menu">
      <div class="flex-center-firstcontent">
        <div class="content-left">
          <img
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            class="block-img"
          />
        </div>
        <div class="content-right">
          <p>ID:001</p>
          <p>Name:Duy</p>
          <p>0901632176</p>
        </div>
      </div>
    </div>
    <div class="style-second-content">
      <div class="flex-center-firstcontent">
        <div style="display: block; width: 100%">
          <div class="padding-content-element content-title-element font-title">
            General
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faChartLine" size="2x"></fa-icon>
            </div>
            <div class="text-icon">Dashboard</div>
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faPhoneVolume" size="2x"></fa-icon>
            </div>
            <div class="text-icon">Contacts</div>
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faShoppingBasket" size="2x"></fa-icon>
            </div>
            <div class="text-icon">Sales Order</div>
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faUsers" size="2x"></fa-icon>
            </div>
            <div class="text-icon">User Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-element">
    <div class="content-rightEle">SALES ORDER</div>
    <div class="function-crud">
      <div class="func-create">
        <button mat-raised-button (click)="openDialogsalesorder()"  color="primary">
          <div class="btn-create">
            <fa-icon [icon]="faPlus" size="1x"></fa-icon>
            <div class="detailed-content-create" >Create</div>
          </div>
        </button>
      </div>
      <div class="func-search">
        <mat-form-field>
          <input class="toolbar-search" type="text" matInput />
          <mat-placeholder>Search</mat-placeholder>
          <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="width: 100%"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>Subject</th>
          <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
        </ng-container>
        <!-- Contact Name Column -->
        <ng-container matColumnDef="contactname">
          <th mat-header-cell *matHeaderCellDef>Contact Name</th>
          <td mat-cell *matCellDef="let element">{{ element.contactName }}</td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>
        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>
        <!-- Assigned to columng -->
        <ng-container matColumnDef="assignedto">
          <th mat-header-cell *matHeaderCellDef>Assigned To</th>
          <td mat-cell *matCellDef="let element">{{ element.assignedTo }}</td>
        </ng-container>
        <!-- Creator columng -->
        <ng-container matColumnDef="creator">
          <th mat-header-cell *matHeaderCellDef>Creator</th>
          <td mat-cell *matCellDef="let element">{{ element.creator }}</td>
        </ng-container>
        <!-- Description columng -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>
        <!-- Actions column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" (click)=" openDialogEditSalesorder()"  >Edit</button>
            <button mat-raised-button color="warn" style="margin-left: 10px;" (click)=" openDialogDeleteSalesorder()">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
