.name-padding {
  width:94%;
  position: relative;
  right: -6%;
}
.email-padding{
   width:94%;
  position: relative;
  right: -6%;
}
.phone-padding{
   width:95%;
  position: relative;
  right: -5%;
}
.radio-padding{
  position: relative;
  right: -5%;

}

