<div class="container">
  <div class="left-element">
    <div class="style-first-content">
      <div class="detailed-first-content">CRM</div>
      <button
        matSuffix
        mat-icon-button
        class="icon-first-content"
        aria-label="Clear"
        style="padding-bottom: 20px"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="style-second-content border-bottom-left-menu">
      <div class="flex-center-firstcontent">
        <div class="content-left">
          <img
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            class="block-img"
          />
        </div>
        <div class="content-right">
          <p>ID:001</p>
          <p>Name:Duy</p>
          <p>0901632176</p>
        </div>
      </div>
    </div>
    <div class="style-second-content">
      <div class="flex-center-firstcontent">
        <div style="display: block; width: 100%">
          <div class="padding-content-element content-title-element font-title">
            General
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faChartLine" size="2x"></fa-icon>
            </div>
            <div class="text-icon">Dashboard</div>
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faPhoneVolume" size="2x"></fa-icon>
            </div>
            <div class="text-icon">Contacts</div>
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faShoppingBasket" size="2x"></fa-icon>
            </div>
            <div class="text-icon">Sales Order</div>
          </div>
          <div class="inner-content-style">
            <div style="width: 25%">
              <fa-icon [icon]="faUsers" size="2x"></fa-icon>
            </div>
            <div class="text-icon">User Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-element">
    <div class="content-rightEle">USER MANAGEMENT</div>
    <div class="function-crud">
      <div class="func-create">
        <button mat-raised-button   color="primary">
          <div class="btn-create">
            <fa-icon [icon]="faPlus" size="1x"></fa-icon>
            <div class="detailed-content-create" >Create</div>
          </div>
        </button>
      </div>
      <div class="func-search">
        <mat-form-field>
          <input class="toolbar-search" type="text" matInput />
          <mat-placeholder>Search</mat-placeholder>
          <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <nz-table #basicTable [nzData]="listOfData">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }}</td>
              <td>{{ data.age }}</td>
              <td>{{ data.address }}</td>
              <td>
                <button mat-raised-button color="primary">Edit</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
