<div class="box">
  <div class="inner-box">
    <div class="design-flex">
      <fa-icon [icon]="faLock" class="icon" size="6x"></fa-icon>
    </div>
    <div class="design-flex text-login">ACCOUNT LOGIN</div>
    <div>
      <div class="text-input">USERNAME</div>
    </div>
    <div class="text-input detailed-input">
      <form class="example-form">
        <mat-form-field class="example-full-width" floatLabel="never">
          <mat-label>Enter username</mat-label>
          <input matInput style="color: white" class="text-detailed-input" required />
        </mat-form-field>
      </form>
    </div>
    <div>
      <div class="text-input">PASSWORD</div>
    </div>
    <div class="text-input detailed-input">
      <form class="example-form">
        <mat-form-field class="example-full-width" floatLabel="never">
          <mat-label>Enter password</mat-label>
          <input matInput type="password" style="color: white" class="text-detailed-input" required  />
        </mat-form-field>
      </form>
    </div>
    <div>
      <button mat-button class="btn-login text-detailed-input ">LOGIN</button>
    </div>
  </div>
</div>
