<div class="box">
  <div class="inner-box">
    <div class="design-flex">
      <fa-icon [icon]="faLock" class="icon" size="6x"></fa-icon>
    </div>
    <div class="design-flex text-login">ACCOUNT LOGIN</div>
    <form class="example-form" nz-form [formGroup]="form_login" (ngSubmit)="submitLogin()">
      <div>
        <div class="text-input">USERNAME</div>
      </div>
      <div class="text-input detailed-input">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <div class="text-input">PASSWORD</div>
      </div>
      <div class="text-input detailed-input">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="password" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div style="background-color: #179cae;">
        <button nz-button   class="btn-login text-detailed-input"  >LOGIN</button>
      </div>
    </form>
  </div>
</div>
