.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232e34;
}
.inner-box{
  width: 40%;
  height: 60%;
  background-color: #1a2127;
}
.icon {
  color:#1bd7bd;
}
.design-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.text-login{
  color:white;
  font-size: 30px;
  font-family: 'Source Code Pro', monospace;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.text-input{
  padding-left: 10%;
  color: white;
  padding-top: 5%;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 15px;
}
.detailed-input {
  padding-top: 2%;
}
.text-detailed-input {
  font-family: 'Saira Condensed', sans-serif;
}
.btn-login{
  color: #179cae;
  font-size: 25px ;
  float: right;
  padding-right: 15%;
  font-weight: bolder;
}