<div class="menu">
  <div style="display: block;width: 100%;">
    <div class="topic-menu">
      <div class="left-topic-menu">Web CRM</div>
      <div class="right-topic-menu">
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div class="function">
      <div class="inner-img">
        <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="Avatar account" class="img-ava">
      </div>
      <div class="content-info">
        <p>John Smith</p>
        <p>0901632187</p>
        <p>nduy9744@gmail.com</p>
      </div>
    </div>
    <div class="general">
      <div class="title-general">General</div>
      <div class="container-general">
        <div class="icon-general">
          <mat-icon>dashboard</mat-icon>
        </div>
        <div class="content-general">
          <p>Dashboard</p>
        </div>
      </div>
      <div class="container-general">
        <div class="icon-general">
          <mat-icon>supervisor_account</mat-icon>
        </div>
        <div class="content-general">
          <p>User Management </p>
        </div>
      </div>
      <div class="container-general">
        <div class="icon-general">
          <mat-icon>dialer_sip</mat-icon>
        </div>
        <div class="content-general">
          <p>Contact </p>
        </div>
      </div>
      <div class="container-general">
        <div class="icon-general">
          <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="content-general">
          <p>Sales Order </p>
        </div>
      </div>
      <div class="container-general">
        <div class="icon-general">
          <mat-icon>settings</mat-icon>
        </div>
        <div class="content-general">
          <p>Settings </p>
        </div>
      </div>
    </div>
  </div>
</div>
