<div class="menu">
  <div style="display: block;width: 100%;">
    <div class="topic-menu">
      <div class="left-topic-menu">Web CRM</div>

    </div>
    <div class="function">
      <div class="inner-img">
        <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
          alt="Avatar account" class="img-ava">
      </div>

      <div class="content-info">
        <div>
          <fa-icon [icon]="faUserCircle"></fa-icon>
          {{user.username}}
        </div>
        <!-- <div>
          <fa-icon [icon]="faEnvelope">
          </fa-icon>
          {{user.email}}
        </div> -->
        <div>
          <fa-icon [icon]="faPhone">
          </fa-icon>
          {{user.phone}}
        </div>
        <div [ngSwitch]="user.isAdmin">
          <div *ngSwitchCase="true">
            <fa-icon [icon]="faUser"></fa-icon>
            Admin
          </div>
          <div *ngSwitchCase="false">
            <fa-icon [icon]="faUsers"></fa-icon>
            User
          </div>
        </div>
        <!-- <p formControlName="phone"></p>
                <p formControlName="email"></p> -->
      </div>


    </div>
    <div class="general">
      <div class="title-general">General</div>
      <div class="container-general" [ngSwitch]="usArr.isAdmin">
        <div *ngSwitchCase="true">
          <div class="inline-element-menu">
            <a  [routerLinkActive]="['active']" (click)="checkPossibility()"
             [routerLink]="['./dashboard']" class="container-general">
              <div class="icon-general">
                <mat-icon>dashboard</mat-icon>
              </div>
              <div class="content-general">
                <p>Dashboard</p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a  [routerLinkActive]="['active']"
             [routerLink]="['./user']" class="container-general">
              <div class="icon-general">
                <mat-icon>supervisor_account</mat-icon>
              </div>
              <div class="content-general">
                <p>User Management </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./contacts']" class="container-general">
              <div class="icon-general">
                <mat-icon>dialer_sip</mat-icon>
              </div>
              <div class="content-general">
                <p>Contact </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./sales-order']" class="container-general">
              <div class="icon-general">
                <mat-icon>add_shopping_cart</mat-icon>
              </div>
              <div class="content-general">
                <p>Sales Order </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./profile']" (click)="unClick()" class="container-general">
              <div class="icon-general">
                <mat-icon>settings</mat-icon>
              </div>
              <div class="content-general">
                <p>User Profile </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./password']" class="container-general">
              <div class="icon-general">
                <mat-icon>block</mat-icon>
              </div>
              <div class="content-general">
                <p>Change Password </p>
              </div>
            </a>
          </div>
        </div>
        <div *ngSwitchCase="false">
          <div class="inline-element-menu" (click)="click()">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./dashboard']" class="container-general">
              <div class="icon-general">
                <mat-icon>dashboard</mat-icon>
              </div>
              <div class="content-general">
                <p>Dashboard</p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./contacts']" class="container-general">
              <div class="icon-general">
                <mat-icon>dialer_sip</mat-icon>
              </div>
              <div class="content-general">
                <p>Contact </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./sales-order']" class="container-general">
              <div class="icon-general">
                <mat-icon>add_shopping_cart</mat-icon>
              </div>
              <div class="content-general">
                <p>Sales Order </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./profile']" class="container-general">
              <div class="icon-general">
                <mat-icon>settings</mat-icon>
              </div>
              <div class="content-general">
                <p>User Profile </p>
              </div>
            </a>
          </div>
          <div class="inline-element-menu">
            <a [routerLinkActive]="['active']"
             [routerLink]="['./password']" class="container-general">
              <div class="icon-general">
                <mat-icon>block</mat-icon>
              </div>
              <div class="content-general">
                <p>Change Password </p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
