<div class="container">
  <div class="left-side">
    <app-menu></app-menu>
  </div>
  <div class="right-side">
    <div class="inner-topic">
      <div class="flex-center-right-side">
        <p>USER MANAGEMENT</p>
      </div>
      <div class="exit-icon">
        <a nz-popconfirm nzPopconfirmTitle="Are you sure to exit this website?" nzPopconfirmPlacement="bottom"
          style="display: flex;color:black" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">
          <mat-icon>exit_to_app</mat-icon>
          <p>Logout</p>
        </a>
      </div>
    </div>
    <div class="container-btn">
      <button mat-raised-button color="primary" (click)="showModal_createUser()" class="font-text-content-btn">
        <mat-icon>add</mat-icon>
        Create
      </button>

    </div>
    <div class="container-btn">
      <table mat-table [dataSource]="userArr" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let userArr"> {{userArr.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let userArr"> {{userArr.username}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let userArr"> {{userArr.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let userArr"> {{userArr.phone}} </td>
        </ng-container>
        <!-- Is Admin -->
        <ng-container matColumnDef="isAdmin">
          <th mat-header-cell *matHeaderCellDef> Is Admin </th>
          <td mat-cell *matCellDef="let userArr" [ngSwitch]="userArr.isAdmin">
            <div *ngSwitchCase="true">
              <nz-tag [nzColor]="'#8dc73f'">{{userArr.isAdmin}}</nz-tag>
            </div>
            <div *ngSwitchCase="false">
              <nz-tag [nzColor]="'#bf1e2e'">{{userArr.isAdmin}}</nz-tag>
            </div>
          </td>
        </ng-container>
        <!-- Is Active -->
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef> Is Active </th>
          <td mat-cell *matCellDef="let userArr" [ngSwitch]="userArr.isActive">
            <div *ngSwitchCase="true">
              <nz-tag [nzColor]="'#8dc73f'">{{userArr.isActive}}</nz-tag>
            </div>
            <div *ngSwitchCase="false">
              <nz-tag [nzColor]="'#bf1e2e'">{{userArr.isActive}}</nz-tag>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>

          <td mat-cell *matCellDef="let userArr">
            <button mat-raised-button (click)="editUser(userArr._id)" color="primary">Edit
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<div style="background-color: lightgray;">
  <app-footer></app-footer>
</div>
<!-- Modal edit -->
<nz-modal [(nzVisible)]="isVisible2" nzTitle="Modal Edit" (nzOnCancel)="handleCancel_editUser()"
  (nzOnOk)="submit_edit(arr_edit)">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form_222" >
      <!-- Username -->
      <nz-form-item>
        <nz-form-label nzFor="username">Username</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user" class="padding-input-create-user">
            <input formControlName="username" nz-input name="username" type="text" id="username">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Name -->
      <nz-form-item>
        <nz-form-label nzFor="name">Name</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user-switch" class="padding-input-create-user-name">
            <input formControlName="name" nz-input name="name" type="text" id="name">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Email -->
      <nz-form-item>
        <nz-form-label nzFor="email">Email</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="mail" class="padding-input-create-user-email">
            <input formControlName="email" nz-input name="email" type="email" id="email">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Phone -->
      <nz-form-item>
        <nz-form-label nzFor="phone">Phone</nz-form-label>
        <nz-form-control>
          <nz-input-group class="padding-input-create-user-phone" nzPrefixIcon="phone">
            <input formControlName="phone" nz-input name="phone" type="number" id="phone">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Phone -->
      <nz-form-item>
        <nz-form-label nzFor="password">Password</nz-form-label>
        <nz-form-control>
          <nz-input-group class="padding-input-create-user-password " [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input name="password"
              type="password" id="password">
            <!-- <input formControlName="password" nz-input name="password" type="password" id="password"> -->
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- isAdmin -->
      <nz-form-item>
        <nz-form-label nzFor="isAdmin">Is Admin?</nz-form-label>
        <nz-radio-group formControlName="isAdmin">
          <label nz-radio nzValue="true">True</label>
          <label nz-radio nzValue="false">False</label>
        </nz-radio-group>
      </nz-form-item>
      <!-- isActive -->
      <nz-form-item>
        <nz-form-label nzFor="isActive">Is Active?</nz-form-label>
        <nz-radio-group formControlName="isActive">
          <label nz-radio nzValue="true">True</label>
          <label nz-radio nzValue="false">False</label>
        </nz-radio-group>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<!-- Modal create -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel_createUser()"
  (nzOnOk)="submit()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form_222" (ngSubmit)="submit()">
      <!-- Username -->
      <nz-form-item>
        <nz-form-label nzFor="username">Username</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user" class="padding-input-create-user">
            <input formControlName="username" nz-input name="username" type="text" id="username">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Name -->
      <nz-form-item>
        <nz-form-label nzFor="name">Name</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user-switch" class="padding-input-create-user-name">
            <input formControlName="name" nz-input name="name" type="text" id="name">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Email -->
      <nz-form-item>
        <nz-form-label nzFor="email">Email</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="mail" class="padding-input-create-user-email">
            <input formControlName="email" nz-input name="email" type="email" id="email">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Phone -->
      <nz-form-item>
        <nz-form-label nzFor="phone">Phone</nz-form-label>
        <nz-form-control>
          <nz-input-group class="padding-input-create-user-phone" nzPrefixIcon="phone">
            <input formControlName="phone" nz-input name="phone" type="number" id="phone">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Phone -->
      <nz-form-item>
        <nz-form-label nzFor="password">Password</nz-form-label>
        <nz-form-control>
          <nz-input-group class="padding-input-create-user-password " [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input name="password"
              type="password" id="password">
            <!-- <input formControlName="password" nz-input name="password" type="password" id="password"> -->
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- isAdmin -->
      <nz-form-item>
        <nz-form-label nzFor="isAdmin">Is Admin?</nz-form-label>
        <nz-radio-group formControlName="isAdmin">
          <label nz-radio nzValue="true">True</label>
          <label nz-radio nzValue="false">False</label>
        </nz-radio-group>
      </nz-form-item>
      <!-- isActive -->
      <nz-form-item>
        <nz-form-label nzFor="isActive">Is Active?</nz-form-label>
        <nz-radio-group formControlName="isActive">
          <label nz-radio nzValue="true">True</label>
          <label nz-radio nzValue="false">False</label>
        </nz-radio-group>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
